p {
  font-size: 35px;
}

h3 {
  font-size: 40px;
}

h1 {
  font-size: 70px;
}

.all-profiles {
  float: center;
}

.each-profile{
  float: left;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 35em;

  border: 6px dotted black;
  border-radius: 50px;

  background: rgb(159 199 150);
}

.each-profile p{
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 1px 0px rgb(166 176 156);
}

.each-profile .desc {
  font-style: oblique;
  text-shadow: none;

  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

.each-profile ul {
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;

  font-size: 23px;
  line-height: 28px;
}

.each-profile img{
  margin-left: 2em;
  margin-right: 3em;
  width: 30em;
}