body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:#87799e;
  margin-left: 0px;
  margin-right: 0px;
}

p {
  font-size: 35px;
}

.page-title {
  background:#ad7878;
}

.page-title p {
  font-size: 35px;
  margin: 16px 0px 0px 20px;
  padding-top: 20px;
}

.page-title h1 {
  font-size: 90px;

  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.page-title h3 {
  margin-top: 10px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.company-info {
  font-size: 40px;
  background:#b987a9;
  padding: 20px 30px 30px 30px;

  margin-right: 5%;
  margin-left: 5%;

  text-align: justify;

  border: 17px double black;
}

h3 {
  font-size: 30px;
  margin-left: 20px;
}

.time-error {
  color: rgb(221, 0, 0);
}

.profile{
  float: left;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 35em;

  border: 6px dotted black;
  border-radius: 50px;

  background: rgb(159 199 150);
}

.profile p{
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 1px 0px rgb(166 176 156);
}

.profile .desc {
  font-style: oblique;
  text-shadow: none;
  font-size: 25px;

  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

.profile ul {
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;

  font-size: 18px;
  line-height: 20px;
}

.profile img{
  margin-left: 2em;
  margin-right: 3em;
  width: 30em;
}